<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>::Roy's Lotto::</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Lotto Labs</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">홈</a></li>
                <li><a href="/search">번호조회</a></li>
                <li><a href="/info">업데이트정보</a></li>
                <!--
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Nav header</li>
                                        <li><a href="#">Separated link</a></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Roy Lotto</h1>
        <p>이번주 인생역전 하세요.</p>
    </div>

    <div class="page-header">
        <h1>업데이트 이력</h1>
    </div>
    <div class="alert alert-success" role="alert">
        <strong>v0.1 - 2017.8.4</strong><br/>
        <ul>
            <li>베타 서비스 오픈.</li>
        </ul>

        <br/>

        <strong>v0.2 - 2017.8.5</strong><br/>
        <ul>
            <li>당첨결과 업데이트 API 개발. (관리자 전용)</li>
            <li>메인 페이지 게임 및 섞는 횟수 디폴트 0으로 나오던 오류 수정.</li>
            <li>결과조회 화면에 로또 회차정보 포함.</li>
        </ul>

    </div>

</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/getrequest.js"></script>
</body>
</html>